<launch>
    <arg name="config_path"/>
    <arg name="map_path"/>
    <include file="$(find localization)/launch/localization.launch" >
        <arg name="node_name" value="localize_camera4_node"/>
        <arg name="camera" value="camera4"/>
        <arg name="config" value="$(arg config_path)"/>
    </include>
    <include file="$(find map)/launch/map.launch">
        <arg name="map_path" value="$(arg map_path)"/>
        <arg name="ratio_x" value="106.48148148148148"/>
        <arg name="ratio_y" value="107.47663551401868"/>
    </include>
</launch>