<launch>
    <arg name="camera_node_name"/>
    <arg name="camera_name"/>
    <arg name="config_path"/>
    <arg name="apriltag_node_name"/>
    <arg name="localize_node_name"/>
    <include file="$(find camera_node)/launch/camera.launch" >
        <arg name="node_name" value="$(arg camera_node_name)"/>
        <arg name="camera" value="$(arg camera_name)"/>
        <arg name="config" value="$(arg config_path)"/>
    </include>

    <include file="$(find find_apriltag)/launch/findApriltag.launch" >
        <arg name="node_name" value="$(arg apriltag_node_name)"/>
        <arg name="camera" value="$(arg camera_name)"/>
        <arg name="config" value="$(arg config_path)"/>
    </include>
    <include file="$(find localization)/launch/localization.launch" >
        <arg name="node_name" value="$(arg localize_node_name)"/>
        <arg name="camera" value="$(arg camera_name)"/>
        <arg name="config" value="$(arg config_path)"/>
    </include>



</launch>