<launch>
    #launch map node
    <include file="$(find map)/launch/map.launch">
        <arg name="map_path" value="/home/homry/OSLL/autolab-extended-localization/src/map/assets/autolab.jpeg"/>
        <arg name="ratio_x" value="106.48148148148148"/>
        <arg name="ratio_y" value="107.47663551401868"/>
    </include>

    <arg name="config_path" value="/home/homry/OSLL/autolab-extended-localization/src/localization/config/cameraConfig.py"/>

    #launch camera1 system
    <include file="$(find localization)/launch/camera.launch" >
        <arg name="camera_node_name" value="camera1_node"/>
        <arg name="camera_name" value="camera1"/>
        <arg name="apriltag_node_name" value="findAprilTag1"/>
        <arg name="localize_node_name" value="localize_camera1"/>
        <arg name="config_path" value="$(arg config_path)"/>
    </include>

    #launch camera2 system
    <include file="$(find localization)/launch/camera.launch" >
        <arg name="camera_node_name" value="camera2_node"/>
        <arg name="camera_name" value="camera2"/>
        <arg name="apriltag_node_name" value="findAprilTag2"/>
        <arg name="localize_node_name" value="localize_camera2"/>
        <arg name="config_path" value="$(arg config_path)"/>
    </include>


    #launch camera3 system
    <include file="$(find localization)/launch/camera.launch" >
        <arg name="camera_node_name" value="camera3_node"/>
        <arg name="camera_name" value="camera3"/>
        <arg name="apriltag_node_name" value="findAprilTag3"/>
        <arg name="localize_node_name" value="localize_camera3"/>
        <arg name="config_path" value="$(arg config_path)"/>
    </include>

    #launch camera4 system
    <include file="$(find localization)/launch/camera.launch" >
        <arg name="camera_node_name" value="camera4_node"/>
        <arg name="camera_name" value="camera4"/>
        <arg name="apriltag_node_name" value="findAprilTag4"/>
        <arg name="localize_node_name" value="localize_camera4"/>
        <arg name="config_path" value="$(arg config_path)"/>
    </include>

    #launch camera5 system
    <include file="$(find localization)/launch/camera.launch" >
        <arg name="camera_node_name" value="camera5_node"/>
        <arg name="camera_name" value="camera5"/>
        <arg name="apriltag_node_name" value="findAprilTag5"/>
        <arg name="localize_node_name" value="localize_camera5"/>
        <arg name="config_path" value="$(arg config_path)"/>
    </include>

    #launch camera6 system
    <include file="$(find localization)/launch/camera.launch" >
        <arg name="camera_node_name" value="camera6_node"/>
        <arg name="camera_name" value="camera6"/>
        <arg name="apriltag_node_name" value="findAprilTag6"/>
        <arg name="localize_node_name" value="localize_camera6"/>
        <arg name="config_path" value="$(arg config_path)"/>
    </include>

</launch>